/*STYLE SHEET FOR PAGE CONTENTS. SARED BETWEEN HTML FILES*/


/*SYLE BY COMMON COMPONENTS*/
.theme-night {
    background: hsla(213, 65%, 28%, 1);

    background: -moz-linear-gradient(45deg, hsla(213, 65%, 28%, 1) 0%, hsla(238, 35%, 34%, 1) 31%, hsla(314, 58%, 35%, 1) 78%, hsla(323, 70%, 40%, 1) 88%, hsla(323, 70%, 48%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#194376", endColorstr="#393B76", GradientType=1 );
    color: #F4F4ED;
}
.theme-day {
    background: hsla(53, 98%, 56%, 1);

    background: linear-gradient(225deg, hsla(53, 98%, 56%, 1) 2%, hsla(16, 100%, 64%, 1) 20%, hsla(315, 48%, 55%, 1) 64%, hsla(200, 87%, 82%, 1) 98%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#fde321", endColorstr="#ff7847", GradientType=1 );
    color: black;
}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, bold;
    padding-top: 1em;

}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, cursive;
    padding-top: 4em;
    padding-left: 2em;
    padding-right: 2em;
}

.body-day {
    background: hsla(0, 0%, 100%, 1);
    color: black;
    background: linear-gradient(45deg, hsla(0, 0%, 100%, 1) 0%, hsla(300, 20%, 94%, 1) 37%, hsla(300, 22%, 92%, 1) 73%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#F3EDF3", GradientType=1 );
    
}

.body-night {
    background: hsla(0, 2%, 34%, 1);
    color: whitesmoke;
    background: linear-gradient(360deg, hsla(0, 2%, 34%, 1) 1%, hsla(300, 4%, 9%, 1) 92%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#575454", endColorstr="#181618", GradientType=1 );
}
/*/SYLE BY COMMON COMPONENTS/*/

/*STYLE BY SECTIONS*/
#header {
    border-radius: 0 0 20% 20%;
    height: 5em;
}
#header img {
    height: 4em;
    width: 4em;
}
#header button {
    align-self: flex-end center;
    padding-right: 1em;
    border-radius: 50%;
}

#footer {
    width: 100%;
    height: 12em;
}

#about {
    padding-top: 5em;
    object-fit: contain;
}

#about iframe {
    height: 45em;
    max-width: 100%;
}

#about img {

    border-radius: 45%;
    max-height: 60vh;
    width: auto;
    border: 0.2em solid #e97117;
}


/*/STYLE BY SECTIONS/*/